body {
    background-color: rgb(167, 75, 170);
    align-items: center;
    font-family: Comic sans-serif, 'Times New Roman', Times;
}
button {
    border: none;
    padding: 0;
    background: none;
}
#content{

    background-color: rgba(224, 224, 243, 0.877);
    padding: 25px;
    border-width: thin;
    border-radius: 50px;
    width:350px;
    height: 400px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;

}
/* area de posategem */
#content-post-a{

    background-color: rgba(224, 224, 243, 0.877);
    padding: 30px;
    border-width: thin;
    border-radius: 50px;
    width: 60%;
    height: 300px;
    position: absolute;
    top: 75px;
    left: 500px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: column;
   
}
/* Area das timeline*/

#content-post-b{

    background-color: rgba(224, 224, 243, 0.877);
    padding: 30px;
    border-width: thin;
    border-radius: 90px;
    width: 800px;
    height: 500px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: column;
    
}


#contentt{

    background-color: rgba(224, 224, 243, 0.877);
    position: absolute;
    padding: 80px;
    border-width: thin;
    border-radius: 50px;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: column;
   
}



#content-post-position{

    position: absolute;
    top: 400px;
    left: 500px;

}


#content-post-position-alter{

    position: absolute;
    top: 80px;
    left: 500px;


}

footer{

    justify-content: center;



}


