body {
    background-color: rgba(255, 255, 255, 0.993);
    align-items: center;
    font-family: sans-serif;
}

#content{

    background-color: rgba(255, 255, 255, 0.877);
    padding: 50px;
    border-width: thin;
    border-style: solid;
    border-color:rgba(121, 119, 119, 0.534);
    border-radius: 50px;
    width:500px;
    height: 500px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    z-index: 100%;

}
/* area de posategem */
#content-post-a{

    background-color: rgba(255, 255, 255, 0.877);
    padding: 50px;
    border-width: thin;
    border-style: solid;
    border-color:rgba(121, 119, 119, 0.534);
    border-radius: 50px;
    width: 50%;
    height: 250px;
    position: fixed;
    top: 75px;
    left: 500px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: column;
    z-index: 2;
}

#content-post-b{

    background-color: rgba(255, 255, 255, 0.877);
    padding: 50px;
    border-width: thin;
    border-style: solid;
    border-color:rgba(121, 119, 119, 0.534);
    border-radius: 50px;
    width: 600px;
    height: 250px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: column;
}



#content-post-position{

    position: fixed;
    top: 350px;
    left: 500px;

}

/* era pra editar o botão */

#dropdownMenuLink{

    position: relative;
    top: 90px;
    left: 450px;

}


#content-post-position-alter{

    position: fixed;
    top: 350px;
    left: 500px;


}